@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>สวัสดี เราคือ CHAT AEIOU</p>
    <img src="/images/Blue White and Black Simple Car Repair Shop Logo-depositphotos-bgremover (1).png" />
</div>
